.theme-editor {
  position: relative;

  /* TODO: responsiveness for smaller viewport */
  width: 50vw;
}

.show-code-editor-toggle.saltToggleButton {
  position: absolute;
  top: calc(var(--salt-spacing-400) * 2 + var(--salt-size-base));
  right: var(--salt-spacing-400);
  z-index: 1;
}

.theme-renderer-card-inner {
  height: 100%;
  overflow: auto;
}
